<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Detalle de dispositivo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">dispositivo</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ nombre }} - {{ ubicacion }}</ion-card-title>
      <ion-card-subtitle>Última Medición: {{ ultimaMedicion }}%</ion-card-subtitle>
    </ion-card-header>
  
    <ion-button (click)="onoff()">
      {{ valvulaAbierta ? 'Cerrar Válvula' : 'Abrir Válvula' }}
    </ion-button>
    <ion-button [routerLink]="['/mediciones', dispositivoId]"
    [queryParams]="{ nombre: nombre, ubicacion: ubicacion }">Ver Mediciones</ion-button>
  </ion-card>
</ion-content>
